.root {
    -fx-focus-color: transparent;
    -fx-border-style: none;
}

#HoriZontalBox1{
    -fx-padding: 5px 10px;
}
#HoriZontalBox{
    -fx-padding: 5px 10px;
}

#tabPan{
    -fx-background-color: rgba(50, 56, 86, 0.33);
}

.LoginVbox{
    -fx-background-color: rgba(0, 16, 100, 0.79);
    -fx-border-radius:10 10 10 10;
    -fx-border-width:1 2 4 6;
    -fx-background-radius:10 10 10 10;
}


.tabs {
    -fx-padding: 5px 10px;
}

.btn {
    -fx-background-color: rgba(0, 16, 100, 0.79);
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-family: "Berlin Sans FB Demi";
}

.BorderPanStyle {
    -fx-border-radius: 2px;
    -fx-padding: 8px;
}

.iconsView {
    -fx-fill: white;
}

.TollButtons {

}

.LoginLabels {
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-family: "Berlin Sans FB Demi";
}

.LoginBtn {
    -fx-font-size: 15px;
    -fx-background-color: #03a9f4;
    -fx-text-fill: white;
    -fx-padding: 10px;
    -fx-font-family: "Berlin Sans FB Demi";
    -fx-spacing: 20px;
    -fx-pref-height: 40px;
}

.DownloadBtn {
    -fx-background-color: rgba(0, 16, 100, 0.79);
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-family: "Berlin Sans FB Demi";
}